*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px !important;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
body {
    overflow-x: hidden;
    width: 100%;
}
/* -------------------------------------- */
/* -----------REUSEABLE COMPONENT-------- */
/* -------------------------------------- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.row {
    width: 90% !important;
    margin: 0 auto !important;
}

/* -------------------------------------- */
/* ------------------HEADER-------------- */
/* -------------------------------------- */
.header-sticky {
    position: relative;
    background-color: #19213A;
}
.header-logo {
    display: inline-block;
}
.header-logo img{
    width: 70%;
    height: 80px;
}
.header-menu {
    display: inline-block;
    position: relative;
}
.header-menu .nav-content li {
    list-style: none;
    margin-left: 10%;
}
.header-menu .nav-content li a {
    text-decoration: none;
    color: white;
    float: left;
    margin-left: 5%;
    padding: 3% 3% 0 0;
    margin-bottom: 4%;
    font-weight: 600;
}
.header-menu .nav-content li a:hover,
.header-menu .nav-content li a:active {
    text-decoration: underline;
    transition: all .5s;
    transform: translateY(-5px);
}

.header-signin {
    display: inline-block;
    position: absolute;
}
.header-signin .header-signin-btn {
    width: 130px;
    height: 40px;
    color: #19213A;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #19213A;
    margin-left: 125%;
    margin-top: 12%;
}
.header-signin .header-signin-btn:hover,
.header-signin .header-signin-btn:active {
    background-color: #19213A;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    
}
  
.header-signin .header-search {
    position: absolute;
    width: 110%;
    height: 40px;
    margin-top: 12%;
    border-radius: 30px;
    border: 1px solid #19213A;
    overflow: hidden;
    font-size: 20px;
}
.header-signin .icon-search {
    position: absolute;
    margin-top: 17%;
    margin-left: 95%;
    cursor: pointer;
}
input[type=text] {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    outline: 0;
}
input[type=text]::placeholder {
    font-size: 13px;
    text-align: left;
    padding-bottom: 15px;
}

/* ------------------------------------------ */
/* ---------------------SLIDER--------------- */
.slider {
    background-image: linear-gradient(to top right, rgb(38, 80, 119, 0.9),rgba(48, 48, 59, 0.9)), url('../img/background1.png');
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}
.owl-slider {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 60px;
    padding-right: 50px;
}

.owl-slider h2 {
    text-align: center;
}
.owl-slider img {
    vertical-align: middle;
}
.mySlides {
    display: none;
}
.mySlides img {
    height: 350px;
    width: 500px;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
  /* -webkit-user-select: none; */
}
.next {
    margin-left: 650px;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row-1:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 116.7px;
}
.column img {
    height: 70px;
}
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
/* .owl-slider .carousel-inner img {
    height: 500px !important;
 
} */

.slider-content{
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 190px;
}
.slider-content h1 {
    color: white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 13px;
    animation-name: slider-h1;
    animation-duration: 4s;
    position: absolute;
    margin-top: -70px;
    animation: slider-span 1s 0s forwards;
    opacity: 0;
    animation-delay: 1.5s;
    font-style: italic;
}
@keyframes slider-h1 {
    from {left: 30%;opacity:1;-webkit-transform:translate3d(80%,0,0);transform:translate3d(80%,0,0);visibility: visible;}
    to {left: 0%;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);visibility: visible;}
}

.slider-content span {
    animation-name: slider-span;
    position: absolute;
    color: white;
    animation: slider-span 2s 0s forwards;/*ten animation - thoi gian duration - thoi gian hien thi tag - forwards*/
    opacity: 0;
    animation-delay: 1s;
    margin-top: -120px;
    font-style: oblique;
}

@keyframes slider-span {
    from {left: 30%;opacity:0;-webkit-transform:translate3d(80%,0,0);transform:translate3d(80%,0,0);visibility: visible;}
    to {left: 0%;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);visibility: visible;}
}

.slider-content p {
    animation-name: slider-p;
    animation-duration: 4s;
    position: absolute;
    opacity: 1;
    color: rgb(207, 206, 206);
    margin-top: 210px;
}

@keyframes slider-p {
    from {left: 30%;opacity:0;-webkit-transform:translate3d(80%,0,0);transform:translate3d(80%,0,0);visibility: visible;}
    to {left: 0%;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);visibility: visible;}
}

.slider-content a {
    animation-name: slider-a;
    text-decoration: none;
    font-size: 110%;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #2577fd;
    animation-duration: 2s;
    position: absolute;
    color: white;
    transition:opacity;
    padding: 1.5% 3%;
    margin-top: 280px;
    border-radius: 50px;
}

@keyframes slider-a {
    from {left: 30%;opacity:0;-webkit-transform:translate3d(80%,0,0);transform:translate3d(80%,0,0);visibility: visible;}
    to {left: 0%;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);visibility: visible;}
}

.slider-content a:hover,
.slider-content a:active{
    background: #00b1ff;
    cursor: pointer;
}

/* --------------------------OWL SLIDER------------------ */
/* --------------------------START----------------------- */
/* .fa-chevron-left, .fa-chevron-right {
    font-size: 35px;
}
.carousel-indicators li {
    border: 1px solid white;
    border-radius: 5px;
}
.glyphicon-chevron-left:before {
    content: "";
}

.glyphicon-chevron-right:before {
    content: "";
    
}

.carousel {
	position: relative
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}

.carousel-inner>.item {
	position: relative;
	display: none;
	-webkit-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
	line-height: 1
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
	display: block
}

.carousel-inner>.active {
	left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%
}

.carousel-inner>.next {
	left: 100%
}

.carousel-inner>.prev {
	left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
	left: 0
}

.carousel-inner>.active.left {
	left: -100%
}

.carousel-inner>.active.right {
	left: 100%
}

.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	background-color: rgba(0, 0, 0, 0);
	filter: alpha(opacity=50);
	opacity: .5
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x
}

.carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x
}

.carousel-control:focus,
.carousel-control:hover {
	color: #fff;
	text-decoration: none;
	outline: 0;
	filter: alpha(opacity=90);
	opacity: .9
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 50%;
	margin-left: -10px
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 50%;
	margin-right: -10px
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
	width: 20px;
	height: 20px;
	font-family: serif;
	line-height: 1
}

.carousel-control .icon-prev:before {
	content: "\2039"
}

.carousel-control .icon-next:before {
	content: "\203a"
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
	text-shadow: none
} */
/* --------------------------END------------------------- */