<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto -->
<!DOCTYPE html>
<html>
    <head>
        <title>Ami Perfume</title>
        <script src="https://use.fontawesome.com/b59cf34d3a.js"></script>
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous"> -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../../resource/img/logo.ico">
        <link rel="stylesheet" href="../../resource/css/style.css">
        <link rel="stylesheet" href="../../vendors/css/simple-grid.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <head>
            <div class ="header-sticky">
                <div class="header-logo col-3">
                    <a href="/"><img src="../../resource/img/logo.png" alt="Logo Ami Perfume"></a>
                </div>
                <div class="header-menu col-7">
                    <nav class="nav-content">
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Khóa học</a></li>
                            <li><a href="#">Hỏi đáp</a></li>
                            <li><a href="#">Tài liệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <form class ="col-2 header-signin" action="/">
                    <input type="text" class="header-search" placeholder="Search products">
                    <div class="search-icon">
                        <i class="fa fa-search icon-search"></i>
                    </div>
                    <input type="submit" class ="header-signin-btn" value="Sign In" >
                </form>
            </div>
        </head>
        <main>
            <div class="slider">
                <div class="slider-active">
                    <div class="row">
                        <div class="col-7 owl-slider">
                            <div class="mySlides">
                                <img src="https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep.jpg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <img src="https://bkit.jw.lt/data/images/1/28.jpeg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8BtLlJS5vAe8VQXpLyUN8oLqxis1ktNX8BbS9hyGTmY1TE_uH&usqp=CAU" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <img src="https://sackim.com/wp-content/uploads/2020/01/1.jpg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <img src="https://previews.123rf.com/images/kran77/kran771412/kran77141200080/34873369-abstract-electric-circuit-digital-brain-technology-concept.jpg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <img src="https://previews.123rf.com/images/toodtuphoto/toodtuphoto1704/toodtuphoto170400008/76954315-technology-concept-digital-brain-genius-with-electric-circuit.jpg" style="width:100%">
                            </div>
                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>
                            <div class="row-1">
                                <div class="column">
                                  <img class="demo cursor" src="https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                                </div>
                                <div class="column">
                                  <img class="demo cursor" src="https://bkit.jw.lt/data/images/1/28.jpeg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                                </div>
                                <div class="column">
                                  <img class="demo cursor" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8BtLlJS5vAe8VQXpLyUN8oLqxis1ktNX8BbS9hyGTmY1TE_uH&usqp=CAU" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                                </div>
                                <div class="column">
                                  <img class="demo cursor" src="https://sackim.com/wp-content/uploads/2020/01/1.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                                </div>
                                <div class="column">
                                  <img class="demo cursor" src="https://previews.123rf.com/images/kran77/kran771412/kran77141200080/34873369-abstract-electric-circuit-digital-brain-technology-concept.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                                </div>    
                                <div class="column">
                                  <img class="demo cursor" src="https://previews.123rf.com/images/toodtuphoto/toodtuphoto1704/toodtuphoto170400008/76954315-technology-concept-digital-brain-genius-with-electric-circuit.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                                </div>
                            </div>

                            <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
                                <!-- Wrapper for slides -->
                                <!-- <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                  </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                    <img src="https://zicxa.com/hinh-anh/wp-content/uploads/2019/07/T%E1%BB%95ng-h%E1%BB%A3p-c%C3%A1c-h%C3%ACnh-%E1%BA%A3nh-background-%C4%91%E1%BA%B9p-nh%E1%BA%A5t-19.jpg" alt="Los Angeles" style="width:100%;">
                                    <div class="carousel-caption">
                                        <h3>Los Angeles</h3>
                                        <p>LA is always so much fun!</p>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <img src="https://sackim.com/wp-content/uploads/2020/01/1.jpg" alt="Chicago" style="width:100%;">
                                    <div class="carousel-caption">
                                        <h3>Chicago</h3>
                                        <p>Thank you, Chicago!</p>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <img src="https://live.staticflickr.com/804/40380964884_fde4707e01_b.jpg" alt="New York" style="width:100%;">
                                    <div class="carousel-caption">
                                        <h3>New York</h3>
                                        <p>We love the Big Apple!</p>
                                    </div>
                                    </div>
                                </div> -->
                                <!-- Left and right controls -->
                                <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon-chevron-left"><i class="fa fa-chevron-left"></i></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon-chevron-right"><i class="fa fa-chevron-right"></i></span>
                                </a>
                            </div> -->
                        </div>
                        <div class="col-5 slider-content">
                            <span>10% Discount</span>
                            <h1>Dạy học online<br>Nhận làm<br> website <br> Đồ án </h1>
                            <p>Đem lại sự hài lòng tốt nhất cho bạn</p>
                            <!-- Hero-btn -->
                            <div class="silder-show-now">
                                <a href="/" class="btn btn-show-now">Liên hệ</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        
        <script src="../../resource/js/script.js"></script>
         <!-- <script src="vendors/js/jquery.waypoints.min.js"></script> -->
    </body>
</html>